USE master;
GO

-- Drop database if it exists
IF DB_ID('AP') IS NOT NULL
    DROP DATABASE AP;
GO

-- Create the database
CREATE DATABASE AP;
GO

USE AP;
GO

-- Create table with comma-separated columns and correct object name
CREATE TABLE AccountHolderUpdates (
    AccountHolderName varchar(50) NULL,
    EmailAddress varchar(50) NULL,
    AccountBalance varchar(50) NULL,
    PhoneNumber varchar(50) NULL,
    Address varchar(50) NULL
);
GO

USE master;
GO
